/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* GLOBAL STYLES */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

*, *:before, *:after {
    font-family: 'Spectral', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
}

/* PAGE CONTENT CONTAINER */

main {
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* HEADER */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

header {
    display: grid;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.headerSocialIcon {
    color: black;
    height: 3rem!important;
    width: 3rem!important;
    margin: 0 1rem;
}

.headerFacebook:hover {
    color: white;
    background-color: #1b74e4;
    border-radius: 25px;
}

.headerInstagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 14px;
    color: white;
}

.headerYelp:hover {
    color: #ff1a1a;
}

.headerLogo {
    width: 20rem;
    margin: 1rem 0;
}

.headerNavLink {
    font-size: 1.25rem;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10rem;
    padding: 1rem;
    transition: 400ms;
}

.headerNavLink:hover {
    color: white;
    background: #a80000;
}

#orderNowLink {
    text-decoration: none;
    background-color: #a80000;
    color:white;
}

#orderNowLink:hover {
    background-color: #910000;
}

@media only screen and (max-width: 1650px) { 
    header {  
        grid-template-columns: 1fr 1fr 2fr;
    }
}

@media only screen and (max-width: 1160px) { 
    header {  
        grid-template-columns: 1fr 2fr;
    }

    .headerSocialIconContainer {
        display: none;
    }
}

@media only screen and (max-width: 890px) { 
    header {  
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .headerLogo {
        grid-row-start: 1;
    }

    .headerNav {
        grid-row-start: 2;
    }
}

@media only screen and (max-width: 580px) { 
    header {  
        grid-template-rows: 3fr 1fr;
    }

    .headerNavLink {
        font-size: 1rem;
        margin: 0 0.5rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 415px) { 
    .headerNavLink {
        font-size: .9rem;
        margin: 0 0.25rem;
        padding: 0.5rem;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* FOOTER */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    padding-top: 2rem;
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 1.5rem;
}

.footerColTitle {
    padding-bottom: .3rem;
    border-bottom: 2px solid white;
    margin-bottom: 1rem;
    text-align: center;
}

.footerCol a {
    color: white;
    text-decoration: none;
}

.footerCol p {
    color: white;
}

.footerSocialIconContainer {
    text-align: center;
}

.footerSocialIcon {
    color: white;
    height: 3rem!important;
    width: 3rem!important;
    margin: 1rem 0.5rem 0 0.5rem;
}

.footerFacebook:hover {
    color: white;
    background-color: #1b74e4;
    border-radius: 25px;
}

.footerInstagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 14px;
    color: white;
}

.footerYelp:hover {
    color: #ff1a1a;
}

.copyright {
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    padding: 1rem;
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
}

@media only screen and (max-width: 690px) { 
    footer {  
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .footerCol {
        margin-bottom: 1rem;
        text-align: center;
    }

    .footerCol a {
        color: white;
        text-decoration: none;
    }
    
    .footerCol p {
        color: white;
        text-decoration: none;
    }

    p.footerColTitle {
        margin-bottom: 0.25rem;
        text-decoration: underline;
        border-bottom: 0 solid white;
    }
}

@media only screen and (max-width: 900px) { 
    footer {  
        font-size: 1rem;
        padding-top: 2rem;
    }

    p.footerColTitle {
        margin-bottom: 0.5rem;
    }

    .footerSocialIcon {
        height: 2rem!important;
        width: 2rem!important;
    }

    .copyright {
        font-size: .75rem;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* NAV COMPONENT */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.navContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 3rem;
    width: 100%;
    border-bottom: 3px solid black;
    padding: 0 25%;
    font-weight: bolder;
}

.navContainer a {
    color: black;
    text-decoration: none;
}

.navContainer a:hover {
    text-decoration: underline;
    text-decoration-color: #d80000;
}

@media only screen and (max-width: 580px) { 
    .navContainer {
        padding: 0 10%;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* MENU PAGE */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.menuContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.menuImg {
    width: 100%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* HERO COMPONENT */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure .sliderImg {
    height: 80vh;
    background-attachment: fixed;
    background-position-y: bottom;
    background-size: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    width: 20%;
    float: left;
    color: white;
    font-weight: bolder;
}

#slider figure .sliderImg div h2 {
    font-size: 6rem;
}

#slider figure .sliderImg .sliderText {
    background: rgba(0, 0, 0, 0.7);
    padding: 0 2rem 2rem;
    margin-top: 5rem;
    width: 100%;
}

#slider figure .sliderImg div p {
    font-size: 2.5rem;
}

#slider figure .sliderImg div div button {
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 2rem 2rem 0 0;
    border-radius: 8px;
    color: white;
    background: #a80000;
}

#slider figure .sliderImg div div button:hover {
    transition: 400ms;
    cursor: pointer;
    background: #7a0000;
}

#slider figure .tacoTuesdayImg {
    background-image: url('https://dailytaco.com/wp-content/uploads/2021/11/Home-Tacos-1024x683.jpg');
}

#slider figure .happyHourImg {
    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/USe0z9dejT2Ht1APMc6sgw/o.jpg');
}

#slider figure .sundayBrunchImg {
    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/wMorUD3lTmf7cgmX8X4XPA/o.jpg');
}

#slider figure .fourthPromotionImg {
    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/JDCgYj6LkFAsuXFYBSq6Cg/o.jpg');
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* INFO COMPONENT */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.homepageInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#a80000;
    justify-items: center;
    border-top: 5px solid white;
    border-bottom: 5px solid black;
    color: white;
    text-align: end;
    padding: 2rem 10%;
}

.infoCol a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: start;
}

.infoCol .infoHours {
    font-size: 1.5rem;
}

.infoColTitle {
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 2rem;
    margin-bottom: .5rem;
}

a.infoContact p {
    text-align: center;
    margin-bottom: .5rem;
}
/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* YELP COMPONENT */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.yelpDiv {
    padding: 2rem 0;
    border-bottom: 5px solid #a80000;
    background-color: white;
    font-weight: bolder;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* CONTACT PAGE */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #a80000;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#a80000;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#8f0000; }