/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* GLOBAL STYLES */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

*, *:before, *:after {
    font-family: 'Spectral', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    border: 1rem solid black;
}

/* PAGE CONTENT CONTAINER */

main {
    margin: 5% 10%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* HEADER */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

header {
    display: grid;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.headerSocialIcon {
    color: black;
    height: 3rem!important;
    width: 3rem!important;
    margin: 0 1rem;
}

.headerFacebook:hover {
    color: white;
    background-color: #1b74e4;
    border-radius: 25px;
}

.headerInstagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 14px;
    color: white;
}

.headerYelp:hover {
    color: #ff1a1a;
}

.headerLogo {
    width: 20rem;
}

.headerNavLink {
    font-size: 1.25rem;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10rem;
    padding: 1rem;
    transition: 400ms;
}

.headerNavLink:hover {
    text-decoration: underline;
}

#orderNowLink {
    text-decoration: none;
    background-color: black;
    color:white;
}

#orderNowLink:hover {
    background-color: white;
    color:black;
}

@media only screen and (max-width: 1650px) { 
    header {  
        grid-template-columns: 1fr 1fr 2fr;
    }
}

@media only screen and (max-width: 1160px) { 
    header {  
        grid-template-columns: 1fr 2fr;
    }

    .headerSocialIconContainer {
        display: none;
    }
}

@media only screen and (max-width: 890px) { 
    header {  
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .headerLogo {
        grid-row-start: 1;
    }

    .headerNav {
        grid-row-start: 2;
    }
}

@media only screen and (max-width: 580px) { 
    header {  
        grid-template-rows: 3fr 1fr;
    }

    .headerNavLink {
        font-size: 1rem;
        margin: 0 0.5rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 415px) { 
    .headerNavLink {
        font-size: .9rem;
        margin: 0 0.25rem;
        padding: 0.5rem;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* FOOTER */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    padding: 5rem 0 4rem 0;
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 1.5rem;
}

.footerColTitle {
    padding-bottom: .3rem;
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
    text-align: center;
}

.footerCol a {
    color: white;
    text-decoration: none;
}

.footerCol p {
    color: white;
}

.footerSocialIconContainer {
    text-align: center;
}

.footerSocialIcon {
    color: white;
    height: 3rem;
    width: 3rem;
    margin: 1rem 0.5rem 0 0.5rem;
}

.footerFacebook:hover {
    color: white;
    background-color: #1b74e4;
    border-radius: 25px;
}

.footerInstagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 14px;
    color: white;
}

.footerYelp:hover {
    color: #ff1a1a;
}

@media only screen and (max-width: 620px) { 
    footer {  
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .footerCol {
        margin-bottom: 1rem;
        text-align: center;
    }

    .footerCol a {
        color: white;
        text-decoration: none;
    }
    
    .footerCol p {
        color: white;
        text-decoration: none;
    }

    p.footerColTitle {
        margin-bottom: 0.25rem;
        text-decoration: underline;
        border-bottom: 0 solid white;
    }
}

@media only screen and (max-width: 900px) { 
    footer {  
        font-size: 1rem;
        padding: 2rem;
    }

    p.footerColTitle {
        margin-bottom: 0.5rem;
    }

    .footerSocialIcon {
        height: 2rem;
        width: 2rem;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/* HOME PAGE -> MENU COMPONENT */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.menuContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.menuImg {
    width: 100%;
}